@import '../../base';

$ip-nav-border: 1px solid map-get($ip-colors, cloud);
$ip-nav-icon-size: 60px;

.ip-nav {
    ul {
        @include ip-reset-ul();
        background-color: map-get($ip-colors, amethyst);
        text-align: center;
        font-family: $ip-font-family-sans;
        font-weight: bold;
    }

    li + li {
        border-top: $ip-nav-border;
        @include ip-mq-breakpoint-up(md) { 
            border-top:0;
        }
    }

    li {
        // this will center the text on y axsis, but line-height trick will not look good if text spans 2 lines -- tried translate but trouble with position absolute on horizontal design
        height: 40px;
        line-height: 40px;
        
        transition: 0.3s background-color;
        display: none;

        &[aria-selected="true"] {
            background-color: map-get($ip-colors, dark);
        }

        &:hover {
            background-color: map-get($ip-colors, river);
        }

        &:first-child {
            display: list-item;
            background-color: map-get($ip-colors, amethyst);
            height: $ip-nav-icon-size;
            text-align: right;
        }

        @include ip-mq-breakpoint-up(md) {
            display: inline-block !important;
            margin-right: -4px;

            padding-left: map-get($ip-gutter, md);
            padding-right: map-get($ip-gutter, md);

            &:first-child {
                display: none !important;
            }

            border-right: $ip-nav-border;
            &:nth-child(2) {
                border-left: $ip-nav-border;
            }
        }
    }

    a {
        display: block;
        color: map-get($ip-colors, cloud);
        text-decoration: none;
    }

    .fa {
        color: map-get($ip-colors, cloud);
    }

    .fa-times {
        display: inline-block;
        height: $ip-nav-icon-size;
        width: $ip-nav-icon-size;
        border-left: $ip-nav-border;
        text-align: center;

        &:hover {
            background-color: map-get($ip-colors, river); // make sure it works on mobile
        }

        &:before {
            position: relative;
            top: 12px;
        }
    }
}
