@import '../base';
@import '../helpers';

.ip-box {
    @include ip-margin-top-bottom(map-get($ip-gutter, md));
    background-color: map-get($ip-colors, warning);
    color: map-get($ip-colors, cloud);
    width: 400px;
}

.ip-box-01 {
    padding-left: map-get($ip-gutter, sm);
    padding-right: map-get($ip-gutter, sm);
}

.ip-box-02,
.ip-box-03 {
    border-left: 5px solid map-get($ip-colors, dark);
    border-right: 5px solid map-get($ip-colors, dark);
}

.ip-box-03 {
    padding-left: map-get($ip-gutter, xs);
    padding-right: map-get($ip-gutter, xs);
}

.ip-box-js-info {
    @include ip-margin-top-bottom(map-get($ip-gutter, md));
    background-color: map-get($ip-colors, warning);
    color: map-get($ip-colors, cloud);
    padding: map-get($ip-gutter, sm);
    width: 800px;
}

.ip-box-25 {
    background-color: map-get($ip-colors, danger);
    color: map-get($ip-colors, cloud);
    width: 25%;
    border: 1px solid map-get($ip-colors, dark);
}

.ip-content-box {
    box-sizing: content-box;
}

.ip-border-box {
    box-sizing: border-box;
}
