@import '../../base';

body {
    padding: 0;
}

.ip-top-image {
    background-image: url('./city-q-c-1920-1080-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    background-position-x: -240px;

    @media only screen and (min-width: 450px) {
        background-position-x: 0px;
    }

    @include ip-mq-breakpoint-up(lg) { 
        background-position-y: -90px;
    }

    @include ip-mq-breakpoint-up(xl) { 
        background-position-y: -90px;
    }

    @media only screen and (min-width: 1600px) {
        background-position-y: -140px;
    }

    @media only screen and (min-width: 1900px) {
        background-position-y: -200px;
    }

    @media only screen and (min-width: 2200px) {
        background-position-y: -260px;
    }
}
