<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Add Button">
    <title>Add Button</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="add-button.css">
</head>

<body>
    <h1>Add Button</h1>

    <h2>Putting the fa class on the button</h2>

    <p>
        By putting the font-awesome css class on the button, we have to explicitly set font family on span. Not optimal.
    </p>

    <hr>

    <div class="ip-add-button-demo-spacer">
        <button class="fa fa-plus ip-button ip-add-button">
            <span>Add Something</span>
        </button>
    </div>

    <div class="ip-add-button-demo-spacer">
        <button class="fa fa-plus ip-button ip-add-button" disabled>
            <span>Add Disabled</span>
        </button>
    </div>

</body>

</html>
