.ip-search-object {
    display: flex;
}

.ip-search-object-form-control {
    padding: map-get($ip-gutter, sm);
}

.ip-search-object-form-button {
    padding: map-get($ip-gutter, xs);
    background-color: map-get($ip-colors, success);
    color: map-get($ip-colors, cloud);
    font-weight: 600;
}
