@import 'settings';
@import 'mixins';
@import '../normalize.css/normalize';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: map-get($ip-colors, cloud);
    color: map-get($ip-colors, dark);
    font-family: $ip-font-family-serif;
    padding: map-get($ip-gutter, md);
}

h1, 
h2, 
h3 {
    font-family: $ip-font-family-sans;
    margin-top: 0;
}

h1 {
  margin-bottom: map-get($ip-gutter, lg);
}

h2 {
  margin-bottom: map-get($ip-gutter, md);
}

h3 {
  margin-bottom: map-get($ip-gutter, sm);
}

p {
  margin: 0;
}

p + p {
  margin-top: map-get($ip-gutter, sm);
}

.ip-text-intro {
  font-size: 110%;
}

// scale up to its max size, scale down if needed, keep proportions
img {
    max-width: 100%;
    height: auto;
}
