@import 'settings';
@import 'mixins';
@import '../normalize.css/normalize';

html {
  box-sizing: border-box;
  font-size: $ip-base-font-size;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: map-get($ip-gutter, md);
    background-color: map-get($ip-colors, cloud);
    color: map-get($ip-colors, dark);
    font-family: $ip-font-family-serif;
    font-size: 1.6rem;
}

a, a:visited, a:focus, a:hover, a:active {
  color: map-get($ip-colors, river);
  text-decoration: none;
}

h1, 
h2, 
h3 {
    font-family: $ip-font-family-sans;
    margin-top: 0;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: map-get($ip-gutter, lg);
}

h2 {
  font-size: 2.4rem;
  margin-bottom: map-get($ip-gutter, md);
}

h3 {
  font-size: 1.8rem;
  margin-bottom: map-get($ip-gutter, sm);
}

p {
  font-size: 1.6rem;
  margin: 0;
}

p + p {
  margin-top: map-get($ip-gutter, sm);
}

p + h2 {
  margin-top: map-get($ip-gutter, md);
}

p + h3 {
  margin-top: map-get($ip-gutter, sm);
}

small {
  font-size: 1.3rem; // could use percent instead so it scales within its context (p, h2, h3 etc)
}

.ip-text-intro {
  font-size: 1.8rem;
}

// scale up to its max size, scale down if needed, keep proportions
img {
    max-width: 100%;
    height: auto;
}
