@import 'settings';
@import 'mixins';
@import '../normalize.css/normalize';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: map-get($ip-colors, cloud);
    color: map-get($ip-colors, dark);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: map-get($ip-gutter, md);
}

h1, 
h2, 
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.ip-text-intro {
  font-size: 110%;
}
