@import 'settings';

@mixin ip-mq-breakpoint-up($breakpoint) {
    $breakpoint: map-get($ip-breakpoints, $breakpoint);
    
    @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin ip-mq-breakpoint-range($breakpoint01, $breakpoint02) {
    $breakpoint01: map-get($ip-breakpoints, $breakpoint01);
    $breakpoint02: map-get($ip-breakpoints, $breakpoint02);

    @media only screen and (min-width: $breakpoint01) and (max-width: $breakpoint02 - 1) {
    @content;
  }
}

@mixin ip-margin-top-bottom($gutter) {
  margin-top: $gutter;
  margin-bottom: $gutter;
}

@mixin ip-reset-ul() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin ip-center-y-translate() {
  position: absolute;
  top: 50%;
  transform: (translate(0%, -50%));
}

@mixin ip-center-x-y-translate() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: (translate(-50%, -50%));
}

// https://github.com/bitmanic/rem/blob/master/stylesheets/_rem.scss

// Baseline, measured in pixels
// The value should be the same as the font-size value for the html element
// If the html element's font-size is set to 62.5% (of the browser's default font-size of 16px),
// then the variable below would be 10px.
$baseline-px: $ip-base-font-size;

@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  // Print the first line in pixel values
  // #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: ();
    @each $value in $px-values {
      // If the value is zero or not a number, return it
      @if $value == 0 or type-of( $value ) != "number" {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    // Return the property and its list of converted values
    #{$property}: $rem-values; } 
}

// ------------------------------------------------------------------
