// https://flatuicolors.com/

$ip-colors:(
    cloud: rgba(#ecf0f1, 1),
    dark: rgba(#222, 1),
    amethyst: rgba(#9b59b6, 1),
    river: rgba(#3498db, 1),
    sun: rgba(#f1c40f, 1),
    honey: rgba(honeydew, 1),
    peach: rgba(peachpuff, 1),
    success: rgba(#2ecc71, 1),
    danger: rgba(#e74c3c, 1),
    warning: rgba(#e67e22, 1)
);

$ip-gutter:(
    xs: 5px,
    sm: 10px,
    md: 15px,
    lg: 20px,
    xl: 30px
);

$ip-breakpoints:(
    sm: 0px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
);
